@media only screen and (max-width: 600px){
    .grid-three{
        width: calc(100%/3) !important;
    }
}


@media only screen and (min-width: 600px){
    .grid-four{
        width: 25% !important;
    }
}

@media only screen and (min-width: 768px){
    .grid-eight{
        width: calc(100%/8) !important;
    }
}
@media only screen and (max-width: 992px){
    .f-grid-four{
        width:25% !important;
    }
}
@media only screen and (min-width: 992px){
    .f-grid-eight{
        width: calc(100%/8) !important;
    }
}



